name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - v4
      - chore/github-actions

jobs:
  main:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - run: make deps-project tests-ci
